$primaire:#9356DC;
$secondaire:#FF79DA;
$tertiaire:#99E2D0;

*{
    font-family: "Roboto", cursive;
}
@import "./scss/header";
@import "./scss/body";
@import "./scss/menu-restaurant";
@import "./scss/footer";
@import "./scss/menus/la-palette-du-gout.scss";