.title{
    .fa-arrow-left{
        text-decoration: none;
        font-size: 50px;
        color: rgb(56, 56, 56);
        position: relative;
        top: 80px;
        left: -170px;
    }
}
header img{
    width: 102%;
    height: 100%;
    margin-left: -8px;
}
.menu{
    background-color: $background;
    position: relative;
    z-index: 1;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 102%;
    height: 100%;
    margin: -200px 0 0 -8px;
    h1{
        font-family: "Shrikhand", cursive;
        font-weight: 400;
        font-size: 80px;
        padding: 80px 0 0 50px;
    }
    h2{
        @include sub-menu;
    }
    hr{
        @include hr;
    }

    .dish{
        .menu-item{
            margin: 30px;
            h3,h4{
                word-wrap:break-word;
                transition: all ease-out 300ms;
            }
        }
        .price{
                font-weight: 600;
                font-size: 40px;
                word-break: keep-all;
                display: flex;
                margin: 90px 41px 0px 10px;
        }
        @include menu-card
    }
    .sub-card
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        word-break: break-all;
    }
    button{
        cursor: pointer;
        // margin: 50px 0 200px 250px;
        color: white;
        font-weight: 400;
        font-size: 45px;
        height: 130px;
        width: 450px;
        border: none;
        border-radius: 60px;
        background: rgb(147,86,220);
        background: linear-gradient(354deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        -webkit-box-shadow: 0px 10px 23px 4px rgba(0,0,0,0.27); 
        box-shadow: 0px 10px 23px 4px rgba(0,0,0,0.27);
        &:hover{
            background: rgb(248,201,255);
            background: linear-gradient(180deg, rgba(248,201,255,1) 0%, rgba(194,112,171,1) 100%);
        }
    }

}