// Heart
.card-bottom {
    i{
        position: absolute;
        bottom: 80px;
        right: 50px;
        font-size: 60px;
        &:checked{
            background: linear-gradient(180deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

}
