// Heart
@keyframes progress-heart {
    0% {
        transform: scale(0);
    }
    24% {
        transform: scale(.4);
    }
    46% {
        transform: scale(.81);
    }
    64% {
        transform: scale(1);
    }
    82% {
        transform: scale(.4);
    }
    100% {
        transform: scale(1);
    }
}
.card-menu {
    position: relative;
    @include heart
}
// Menus Heart
.menu{
    H1{
        @include menu-heart        
    }
}
